/* Applies to screens 600px wide and smaller  */

@media screen and (max-width: 600px) {

    #status-banner,
    h1 {
        font-size: 2rem;
    }

    .team {
        display: flex;
        flex-direction: column;
    }

    .game-card-inner-wrapper {
        flex-direction: column;
    }

    .game-info {
        margin-top: 10px;
        margin: 10px auto;
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .dashboard-grid {
        grid-template-columns: 1.6fr 1fr; /* Games on left, standings on right */
    }
}

@media screen and (min-width: 768px) {
    .dashboard-header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .dashboard-grid {
        grid-template-columns: 2fr 1fr; /* Games occupy left 66%, Standings on right 33% */
    }
}